{% extends 'BlogBundle::layout.html.twig' %}

{% form_theme login_form 'bootstrap_3_layout.html.twig' %}

{% block container %}



    <div class="center-block" style="width: 40%">
        <h2>Login</h2>
        <div >
            {%  if error %}
                <div class="alert alert-danger"> {{ error.messageKey|trans(error.messageData, 'security') }} </div>
            {% endif  %}
        {{ form_start(login_form , {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_row(login_form._username) }}
            {{ form_row(login_form._password, {
                'label': "Password"
            }) }}

            <div class="checkbox">
                <p style="float: right"><a href="" >Forgot password?</a></p>
                <label>
                    <input type="checkbox">  Remember Me?
                </label>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Login</button>
            <div class="text-center" style="margin-top: 10px;">no account? <a href="{{ path('blog_security_register') }}">Regist here!</a></div>

        {{ form_end(login_form) }}
        </div>
    </div>
{% endblock %}
