{% extends '@Blog/base.html.twig' %}

{% block body %}

    {% block header %}
        <div class="site-header">
            <div class="container">
                <header class="">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <h1>{{ "blog.name" | trans }}</h1>
                        </div>


                        {% block nav %}
                            <div class="col-xs-12 col-sm-12 col-md-7 menu-list">
                                <ul class="nav nav-pills">
                                    <li><a href="{{ path('blog_homepage') }}">{{ "menu.index" | trans }}</a></li>
                                    <li><a href="{{ path('blog_post_list') }}">{{ "menu.post" | trans }}</a></li>
                                    <li><a href="{{ path('blog_homepage') }}">{{ "menu.about" | trans }}</a></li>
                                    <li><a href="{{ path('blog_contact') }}">{{ "menu.contact" | trans }}</a></li>
                                </ul>
                            </div>
                        {% endblock %}

                        <div class="col-xs-12 col-sm-12 col-md-2 security-entry">
                            <ul class="nav nav-pills ">
                                {% if app.user and is_granted("ROLE_USER") %}
                                    <li><a href="##"><i class="glyphicon glyphicon-user"> </i>{{ app.user.username }}</a></li>
                                    <li><a class="" href="{{ path('blog_security_logout') }}">{{ "security.logout" | trans }}</a></li>
                                {% else %}
                                    <li><a class="" href="{{ path('blog_security_login') }}">{{ "security.login" | trans }}</a></li>
                                    <li><a class="" href="{{ path('blog_security_register') }}">{{ "security.register" | trans }}</a></li>
                                {% endif %}
                            </ul>
                        </div>


                    </div>



                </header>
            </div>
        </div>


    {% endblock %}



    <div class="container site-main">
    {% block container %}
    {% endblock %}
    </div>

    {% block footer %}
    {% endblock %}


{% endblock %}
